<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
</head>
<body>
    <!--<h1>Dishes List</h1> !-->
    <nav class="navbar">
        <div class="container">
            <span class="navbar-brand">CollegeChops</span>
            <span class="navbar-nav">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/search">Recipe Search</a>
                <a class="nav-link" href="/uploads">Upload</a>
            </span>
        </div>
    </nav>
    <div class="container">
        {% for dish in dishes %}
            <div class="recipe-card">
                <h2>{{ dish.title }}</h2>
                <p>{{ dish.description }}</p>
                <div class="tags">
                    <span class="tag price-tag">${{ dish.cost }}</span>
                    <span class="tag difficulty-tag">{{ dish.difficulty }}</span>
                </div>
                <a class="view-recipe-link" href="{{ url_for('dish', dish_id=dish.id) }}">View Recipe</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>